<h2>Our Cookies for 2023-2024</h2>

<div class="container">
  <div class="row">
    <!--card 1-->
    <div class="col-md-4 col-sm-6 col-12 mb-3">
      <div class="card h-100" border-success mb-3>
        <div class="card-body">
          <h5 class="card-title">Thin Mints&reg;</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            Made with Vegan Ingredients
          </h6>
          <img
            src="../../assets/cookies/ThinMints.jpeg"
            class="card-img-top"
            alt="Thin Mints"
          />
          <div class="card-footer">
            <a
              href="https://www.littlebrowniebakers.com/products/thinmints"
              target="_blank"
              class="btn btn-success"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--card 2-->
    <div class="col-md-4 col-sm-6 col-12 mb-3">
      <div class="card h-100" border-success mb-3>
        <div class="card-body">
          <h5 class="card-title">Samoas&reg;</h5>
          <img
            src="../../assets/cookies/Samoas.jpeg"
            class="card-img-top"
            alt="Samoas"
          />
          <div class="card-footer">
            <a
              href="https://www.littlebrowniebakers.com/products/samoas"
              target="_blank"
              class="btn btn-success"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--card 3-->
    <div class="col-md-4 col-sm-6 col-12 mb-3">
      <div class="card h-100" border-success mb-3>
        <div class="card-body">
          <h5 class="card-title">Tagalongs&reg;</h5>
          <img
            src="../../assets/cookies/Tagalongs.jpeg"
            class="card-img-top"
            alt="Tagalongs"
          />
          <div class="card-footer">
            <a
              href="https://www.littlebrowniebakers.com/products/tagalongs"
              target="_blank"
              class="btn btn-success"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--card 4-->
    <div class="col-md-4 col-sm-6 col-12 mb-3">
      <div class="card h-100" border-success mb-3>
        <div class="card-body">
          <h5 class="card-title">Do-Si-Dos&reg;</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            Made with Natural Flavors
          </h6>
          <img
            src="../../assets/cookies/Dosidos.jpeg"
            class="card-img-top"
            alt="Do-Si-Does"
          />
          <div class="card-footer">
            <a
              href="https://www.littlebrowniebakers.com/products/dosidos"
              target="_blank"
              class="btn btn-success"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--card 5-->
    <div class="col-md-4 col-sm-6 col-12 mb-3">
      <div class="card h-100" border-success mb-3>
        <div class="card-body">
          <h5 class="card-title">Trefoils&reg;</h5>
          <img
            src="../../assets/cookies/Trefoils.jpeg"
            class="card-img-top"
            alt="Trefoils"
          />
          <div class="card-footer">
            <a
              href="https://www.littlebrowniebakers.com/products/trefoils"
              target="_blank"
              class="btn btn-success"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--card 6-->
    <div class="col-md-4 col-sm-6 col-12 mb-3">
      <div class="card h-100" border-success mb-3>
        <div class="card-body">
          <h5 class="card-title">Adventurefuls&reg;</h5>
          <img
            src="../../assets/cookies/Adventurefuls.jpg"
            class="card-img-top"
            alt="Adventurefuls"
          />
          <div class="card-footer">
            <a
              href="https://www.littlebrowniebakers.com/products/adventurefuls"
              target="_blank"
              class="btn btn-success"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--card 7-->
    <div class="col-md-4 col-sm-6 col-12 mb-3">
      <div class="card h-100" border-success mb-3>
        <div class="card-body">
          <h5 class="card-title">Lemon-Ups&reg;</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            Naturally Flavored with other Natural Flavors
          </h6>
          <img
            src="../../assets/cookies/Lemon-Ups.jpg"
            class="card-img-top"
            alt="Lemon-Ups"
          />
          <div class="card-footer">
            <a
              href="https://www.littlebrowniebakers.com/products/lemonups"
              target="_blank"
              class="btn btn-success"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--card 8-->
    <div class="col-md-4 col-sm-6 col-12 mb-3">
      <div class="card h-100" border-success mb-3>
        <div class="card-body">
          <h5 class="card-title">Girl Scout S'Mores&reg;</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            Made with Natural Flavors
          </h6>
          <img
            src="../../assets/cookies/GSSmores.jpeg"
            class="card-img-top"
            alt="Girl Scout S'Mores"
          />
          <div class="card-footer">
            <a
              href="https://www.littlebrowniebakers.com/products/girlscoutsmores"
              target="_blank"
              class="btn btn-success"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--card 9-->
    <div class="col-md-4 col-sm-6 col-12 mb-3">
      <div class="card h-100" border-success mb-3>
        <div class="card-body">
          <h5 class="card-title">Toffee-Tastic&reg;</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            Gluten-Free, No Artificial Flavor
          </h6>
          <img
            src="../../assets/cookies/Toffee-tastic.jpeg"
            class="card-img-top"
            alt="Toffee-Tastic"
          />
          <div class="card-footer">
            <a
              href="https://www.littlebrowniebakers.com/products/toffeetastic"
              target="_blank"
              class="btn btn-success"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
    <p>
    <a
              href="https://www.littlebrowniebakers.com/Recipes"
              target="_blank"
              class="button" text-lg-center 
              >Love Recipes? Check out the Girl Scout Cookie Recipes!</a>
    </p>
</section>