<header>
  <img src="assets/gs.png" class="logo" alt="Girl Scout logo">
  <h1>Girl Scout Troop 2012</h1>
</header>

<app-navigation></app-navigation>
<router-outlet></router-outlet>

<div>
  <p class="footer">Please contact me via <a class="button3" href="mailto: tgwarren@mail.fhsu.ed">email</a> with any
  questions.</p>
</div>
<footer>
  <img src="../assets/no background logo.png" class="mylogo" alt="business logo">
  <small>&copy;2023 Designs of Tumorrow  - All rights reserved</small>
</footer>