<body>
  <main>
    <div id="donate">
      <p>
        <a class="button" href="https://gsmidtn.org/donate/" target="_blank"
          >Donate</a
        >
      </p>
    </div>

    <div class="about">
      <img src="assets/troop2012.jpg" class="girls" alt="Girl Scouts Troop" />
      <p>
        Our troop is located in the Spring Hill area and the schools are
        Chapman's Retreat, Longview, and Amanda North. We also welcome
        homeschoolers who are interested.
      </p>
    </div>

    <div class="join">
      <p>
        <a class="button" href="https://gsmidtn.org/join-us/" target="_blank"
          >Join our troop</a
        >
      </p>
    </div>
  </main>
</body>
