<form class="member-form">
    <label for="parentName">Parent Name:</label>
    <input type="text" id="parentName" name="member.parentName" [formControl]="newMemberForm">
  
    <label for="daughterName">Daughter Name:</label>
    <input type="text" id="daughterName" name="member.daughterName" [formControl]="newMemberForm">
  
    <label for="address">Address:</label>
    <input type="text" id="address" name="member.address" [formControl]="newMemberForm">
  
    <label for="email">Email:</label>
    <input type="email" id="email" name="member.email" [formControl]="newMemberForm">
  
    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" name="member.phoneNumber" [formControl]="newMemberForm">
  
    <button class="button" type="submit" (click)="createNewMember()">Add Member</button>
  </form>
